<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGoogleService" />
                <binding name="BasicHttpBinding_IDocuSignService" />
                <binding name="BasicHttpBinding_IMailService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49490/GoogleService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGoogleService"
                contract="GoogleService.IGoogleService" name="BasicHttpBinding_IGoogleService" />
            <endpoint address="http://localhost:49490/DocuSignService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocuSignService"
                contract="DocuSignService.IDocuSignService" name="BasicHttpBinding_IDocuSignService" />
            <endpoint address="http://localhost:49490/MailService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMailService" contract="MailService.IMailService"
                name="BasicHttpBinding_IMailService" />
        </client>
    </system.serviceModel>
</configuration>